.Legend-Contain {
  background-color: white;
  position: absolute;
  bottom: 6%;
  left: 6%;
  padding: 1.2%;
  font-size: 0.65vw;
  border-radius: 10px;
  width: 25%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(84, 84, 84, 0.25);
}

@media (max-width: 600px) {
  .Legend-Contain {
    font-size: 2.5vw;
    width: 40%;
  }
}

.Inner-Legend-Contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-key-contain {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.filter-key-contain:first-child {
  font-size: 1.1em;
  margin-bottom: 3%;
  text-align: left;
}

.filter-key-color {
  height: 1vh;
  width: 1vh;
  margin: 0 1vw;
}

.source-contain {
  display: flex;
  font-size: 0.75em;
  margin-top: 0.5vw;
  text-align: left;
}

.filter-key-color {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
  margin-left: 2px;
}

.filter-key-contain {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-left: 0;
  margin-bottom: 2%;
}
