body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.map-page {
  display: flex;
  height: 95vh; /* take up the full height of the parent */
  width: 100%; /* take up the full width of the parent */
}

.Filters {
  flex: 1.6;
  margin-right: 2%;
  overflow-y: auto; /* enable vertical scrolling if content is too long */
  height: 95vh; /* make the Filters take up the full height of the viewport */
  scrollbar-width: none; /* For Firefox */
}

.Filters::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.Filters img {
  width: 80%;
}

.MainMap {
  flex: 4.7;
  border-radius: 1%;
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.fetchingNoti{
  font-size: 1.5vh;
}